/* Set the background color of the menubar to black */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  background-color: #0D1117;
  margin: 0px;
  padding: 0px;
}

#loading-screen {
display: none;
}

.headings{
  color:white; 
  font-size: 48px;
  font-weight: 700;
  font-family: 'Poppins', 
  sans-serif;
  margin: 0px;
}
.subheadings{
  margin: 0px;
  color:#b2b2b2; 
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', 
  sans-serif;
}
.subsubheadings{
  margin: 0px;
  color:#eeeeee; 
  font-size: 14px;
  font-weight: 300;
  font-family: 'Poppins', 
  sans-serif;
}
.contextPara {
    background-color: #202831;
    border: 1px solid dimgrey;
    border-radius: 10px;
    padding: 17px;
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #f5f5f5;
    overflow-y:scroll;
}
.contextPara::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(83, 176, 57, 0.0);
  }
  
  .contextPara::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  }
  
  .contextPara::-webkit-scrollbar-track {margin: 2px;
  background-color: #202831;
  border-radius: 40px;
  }
  
  .contextPara::-webkit-scrollbar-corner {
  background-color: #202831;
  border-radius: 10px;
  }
  

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.logomakers {
    display: flex;
    align-items: center;
    justify-content: center
  }
#logo {
    height: 30px; /* set the height of the logo */
    margin-right: auto; /* aligns the logo to the left */
    display: block;
    padding-left: 20px;
  }

nav {
    margin:0;display: flex;
    padding: 0;
    background-color: #161B22;
    font-family: "Roboto", sans-serif;align-items: center; font-weight: 400;
  }
  
  /* Remove default list styles and display menu items horizontally */
  nav ul {margin:0;padding: 0;
    list-style: none;
    display: flex;
    justify-content: right;
  }
  
  /* Style each menu item */
  nav li {
    margin:0;padding: 0;
  }
  
  nav a {margin:0;padding: 0;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 20px;
    display: block;
   
  }
  
  /* Style the currently active menu item */
  nav a.current {margin:0;padding: 0;
    background-color: #fff;
    color: #000;
  }
  
  /* Apply a hover effect to menu items */
  nav a:hover {
    background-color: #333;
  }

  .bn632{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #15883e;
    height: 48px;
  }
.bn632:hover{
  background-color: #1db954;
}